<div class="container text-center">
  <div
    *ngIf="dataLoaded == false"
    class="spinner-border text-secondary"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>

  <ul class="list-group list-group-flush">
    <li (click)="reset()" routerLink="/cars"  [class]="getAllBrandClass()"><b>Brands</b></li>
    <li
      (click)="setCurrentBrand(brand)"
      routerLink="/cars/brands/{{brand.brandId}}"
      *ngFor="let brand of brands"
      [class]="getCurrentBrandClass(brand)"
    >
      {{ brand.brandName }}
    </li>
  </ul>
</div>
